# SI 330 - Homework 3: AWS, RDS, MySQL, and Visualization
## Top-level goal:
To explore the goodreads database that we created during the past few classes.

**NOTE**: You will need to review your notebooks from the past few classes to complete this assignment.

Take a look at the first few entries in the ```books``` table.  Specifically, take a look at the ```authors``` field.  

You'll notice that some entries contain multiple authors such as:
>  'Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-Doubleday'

(that's from iloc[14])

Note too that some non-ASCII characters in the author names are misformed.  That's my fault and can be ignored for the purposes of this assignment.

Your task is to "break out" those authors into a separate dataframe, then use either merge, join, or any other functionality from pandas to answer the following questions.  Please note that there are multiple ways to figure out the answers.  You can, of course, choose to do things in a "pythonic" way rather than a "pandorable" way, but it will be more difficult to get full points if you do so.

You will also need to use some of the visualization techniques we learned when we covered matplotlib a few weeks ago.

### Q1: How many unique authors are there?

### Q2: Create a barchart that has the number of authors from 1 to n across the horizontal axis and the number of books having that number of authors as the vertical axis.

### Q3: How many books as J.K. Rowling co-authored with someone else?

### Q4: Who has co-authored books with J.K Rowling?

### Q5: Which book has the largest number of authors?  How many authors?  Who are the authors?

### Q6: Which author's books have been tagged with the largest number of unique tags?